.input {
    border: none;
    border-bottom: 1px solid var(--colors-ui-alt);
    padding: 8px 10px;
    font-size: 18px;
    font-weight: 400;
    background: transparent;
    color: inherit;
    &:focus {
        outline: none;
    }
    &::placeholder {
        color: var(--colors-ui-alt);
        font-weight: 400;
    }
}